{
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "overrides": [
    {
      "files": [
        "**/*.ts",
        "**/*.tsx",
        "**/*.mts",
        "**/*.cts"
      ],
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:import/recommended",
        "plugin:import/typescript"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaVersion": 2020,
        "project": "tsconfig.json",
        "sourceType": "module"
      },
      "plugins": [
        "@typescript-eslint",
        "simple-import-sort",
        "import",
        "unused-imports",
        "security"
      ],
      "rules": {
        "import/no-cycle": "error",
        "import/no-unresolved": ["off", {"commonjs": true, "amd": true}],
        "import/extensions": ["error", "ignorePackages"],
        "@typescript-eslint/array-type": "error",
        "@typescript-eslint/explicit-member-accessibility": [
          "off",
          {
            "accessibility": "explicit"
          }
        ],
        "simple-import-sort/imports": [
          "error",
          {
            "groups": [
              [
                "^\\u0000",
                "^\\w",
                "^@\\w",
                "^#\\w",
                "^\\."
              ]
            ]
          }
        ],
        "@typescript-eslint/interface-name-prefix": "off",
        "@typescript-eslint/member-ordering": "off",
        "@typescript-eslint/no-empty-interface": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-namespace": "off",
        "@typescript-eslint/no-parameter-properties": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-shadow": "error",
        "@typescript-eslint/prefer-for-of": "off",
        "@typescript-eslint/prefer-function-type": "off",
        "@typescript-eslint/quotes": "off",
        "@typescript-eslint/triple-slash-reference": "off",
        "@typescript-eslint/unified-signatures": "off",
        "@typescript-eslint/prefer-regexp-exec": "off",
        "@typescript-eslint/require-await": "off",
        "@typescript-eslint/no-this-alias": "off",
        "@typescript-eslint/no-unnecessary-type-assertion": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/ban-ts-ignore": "off",
        "@typescript-eslint/no-unsafe-assignment": "off",
        "@typescript-eslint/no-unsafe-call": "off",
        "@typescript-eslint/no-unsafe-return": "off",
        "@typescript-eslint/no-unsafe-member-access": "off",
        "@typescript-eslint/restrict-plus-operands": "off",
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/restrict-template-expressions": "off",
        "@typescript-eslint/unbound-method": "off",
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/no-misused-promises": "off",
        "@typescript-eslint/no-unsafe-argument": "off",
        "arrow-parens": [
          "off",
          "as-needed"
        ],
        "camelcase": "error",
        "comma-dangle": "off",
        "complexity": "off",
        "constructor-super": "error",
        "curly": "off",
        "dot-notation": "error",
        "eqeqeq": [
          "error",
          "smart"
        ],
        "guard-for-in": "error",
        "id-blacklist": "error",
        "id-match": "error",
        "import/order": "off",
        "max-classes-per-file": "off",
        "max-len": [
          "error",
          {
            "code": 150
          }
        ],
        "new-parens": "error",
        "no-bitwise": "error",
        "no-caller": "error",
        "no-cond-assign": "off",
        "no-console": "error",
        "no-debugger": "error",
        "no-empty": "error",
        "no-eval": "error",
        "no-fallthrough": "off",
        "no-invalid-this": "off",
        "no-new-wrappers": "error",
        "no-shadow": "off",
        "no-throw-literal": "error",
        "no-trailing-spaces": "off",
        "no-undef-init": "error",
        "no-underscore-dangle": "off",
        "no-unsafe-finally": "error",
        "no-unused-expressions": "error",
        "no-unused-labels": "error",
        "object-shorthand": "error",
        "one-var": [
          "error",
          "never"
        ],
        "prefer-arrow/prefer-arrow-functions": "off",
        "radix": "error",
        "space-before-function-paren": "off",
        "spaced-comment": [
          "error",
          "always",
          {
            "line": {
              "markers": [
                "#region",
                "#endregion",
                "region",
                "endregion"
              ]
            }
          }
        ],
        "use-isnan": "error",
        "valid-typeof": "off",
        "prefer-rest-params": "off"
      }
    },
    {
      "files": [
        "**/*.js",
        "**/*.mjs",
        "**/*.cjs"
      ],
      "env": {
        "node": true,
        "es6": true
      },
      "extends": [
        "eslint:recommended",
        "google"
      ],
      "parser": "@babel/eslint-parser",
      "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "requireConfigFile": false,
        "ecmaFeatures": {
          "jsx": true,
          "modules": true,
          "experimentalObjectRestSpread": true
        }
      },
      "rules": {
        "no-console": 1,
        "no-const-assign": 2,
        "no-unused-vars": [
          1,
          {
            "vars": "all",
            "args": "none"
          }
        ],
        "no-var": 1,
        "prefer-const": 1,
        "no-trailing-spaces": 0,
        "spaced-comment": 0,
        "max-len": 0,
        "comma-dangle": 0,
        "padded-blocks": 0,
        "arrow-parens": 0,
        "curly": 0,
        "prefer-rest-params": 0,
        "require-jsdoc": 0,
        "quotes": 0,
        "indent": 0
      }
    }
  ]
}
